$font-pretendard: 'Pretendard-Regular', 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', '돋움', 'Gulim', '굴림', '굴림체', Sans-Serif;
$font-roboto:'Roboto';

$min-mobile: 320;
$max-mobile: 720;